@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3 class="text-primary">@ViewBag.Message</h3>

<p>There has never been a CR-X shop like ours</p>
<p>The CR-X is a popular enthusiast car, which also is hard to get a hold of</p>
<p>That is if you want an unmodified one</p>
<p>This site serves as a gateway to find that special CR-X that you've always wanted</p>
<p>What are you waiting for? Make a user today!</p>
