@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SELL IT FAST</h1>
    <p class="lead">The CR-X Shoppe is the fastest place online, to sell your Honda CR-X
        <br />
        <br />
        Register Today!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Sell your CR-X</h2>
        <p>
            Selling your CR-X has never been easier! Simply create a free sale and advertise it on this website. The best part: It is completely free.
        </p>
        <p><a class="btn btn-default" href="/Sale/Create">Sell my CR-X &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Browse cars for sale</h2>
        <p>Take a look in our vast catalogue of privately sold Honda CR-X's. Are you looking for that special 93 VTEC model? Do not fret.
        We most likely have one listed</p>
        <p><a class="btn btn-default" href="/Sale/CarsForSale">Check the marketplace &raquo;</a></p>
    </div>
</div>