
@{
    ViewBag.Title = "Error";
}

<h1>An error occurred</h1>
<h2 class="grayText">You most likely tried to edit something without permission!</h2>

<a href="~/Views/Home/Index.cshtml">Return to Index</a>