body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sale{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid;

    -webkit-box-shadow: 2px 2px 0px 0px rgba(134, 134, 134, 0.45);
    -moz-box-shadow:    2px 2px 0px 0px rgba(134, 134, 134, 0.45);
    box-shadow:         2px 2px 0px 0px rgba(134, 134, 134, 0.45);

    margin: .2em;
    padding-top: .7em;
    padding-left: 1.5em;

    background-color: #4E5D6C;
    width: 300px;
}

.sale ul{
    padding-left: 5px;
    list-style: none;
}

.sale ul li:before{
    padding-right:.5em;
    content: "\002022 ";
    color: #B15315;

    /*This is pretty bad.*/
    margin-left: -.5em;
}

.grayText{
    color: #777777;
}

img.resize{
    min-height:250px;
    min-width:250px;
    max-height:250px;
    max-width:250px;
}